* {
	box-sizing: border-box;
	font-size: 18px;
}

a, h1, h2, h3, button {
	font-family: "Fraunces";
}

a {
	text-decoration: none;
}

/* nav */
nav {
	display: flex;
	justify-content: space-between;
	padding: 2vw;
	align-items: baseline;
}

nav a, button {
	font-size: 16px;
}

nav a {
	font-family: Barlow;
	margin-right: 3vw;
}

h3 {
	font-family: "Barlow", sans-serif;
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}

h3, nav a, h1 {
	color: hsl(0, 0%, 100%);
}

button {
	background-color:  hsl(0, 0%, 100%);
	border-radius: 40px;
	padding: 20px 25px;
	border: none;	
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.nav-header {
	background-image: url("image-header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

h1 {
	font-size: 55px;
	padding: 100px 0 50px 0;
	letter-spacing: 8px;
}

header img {
	width: 2%;
	padding-bottom: 300px;
}

/* Grid */

body {
	margin: 0;
}

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid div, .grid img {
	width: 50%;
}

.grid div {
	display: flex;
	flex-direction: column;
	color: hsl(212, 27%, 19%);
}

.brand-text {
	padding: 10% 9% 10% 9%;
}

.audience-text {
	padding: 10% 9% 10% 9%;
}

.grid div p {
	font-family: "Barlow", sans-serif;
	color: hsl(232, 10%, 55%);
	line-height: 30px;
	margin: 0 0 40px 0;
}

.grid a {
	color: hsl(212, 27%, 19%);
	font-weight: 900;
	position: relative;
	left: 6px;
}

.grid a::before {
        content: "";
        position: absolute;
        bottom: -2px;
	left: -6px;
        width: 145px;
        height: 10px;
        z-index: -1;
	border-radius: 2000px;
}

.brand-text a::before{
	background-color: hsl(51, 100%, 49%, 0.4);
}

.audience-text a::before{
	background-color: hsl(7, 99%, 70%, 0.4);
}

h2 {
	font-size: 40px;
	font-weight: 900;
}

/* Hover features */
button:hover {
	color: hsl(0, 0%, 100%);
	background-color: hsl(0, 0%, 100%, 0.4);
}

button:hover, a:hover {
	cursor: pointer;
}

.brand-text a:hover::before {
	background-color: hsl(51, 100%, 49%);
}

.audience-text a:hover::before {
	background-color: hsl(7, 99%, 70%);
}